.menu ul {
list-style-type: none;}
.menu li { 
float: left; }
.menu li a {
padding: 14px 14px }


h1{
text-align: center; 
text-decoration: underline;
font-size: 50px;
}
.bio{
border:20px; 
border-color: 679430;
}
